black==25.11.0
click==8.1.8
dnspython==2.7.0
email-validator==2.3.0
idna==3.13
mypy_extensions==1.1.0
numpy==2.0.2
packaging==26.2
pandas==2.3.3
pathspec==1.1.1
platformdirs==4.4.0
python-dateutil==2.9.0.post0
pytokens==0.4.1
pytz==2026.2
six==1.17.0
tomli==2.4.1
typing_extensions==4.15.0
tzdata==2026.2
